.content{
  padding-top: 130px;
  width: 80%;
  span{
    font-weight: bold;
  }
  .content-img{
    text-align: center;
    img{
      width: 300px;
      margin-top: 50px;
    }
  }
  .content-title{
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
  }
}
