<app-header></app-header>
<div class="content">
  <div class="row">
    <div class="col-12 content-title">
      <h3>
        Sistema de Reservas de Hoteles
      </h3>
      <p>
        En este ejemplo, vamos a explorar cómo se puede diseñar un Sistema de Reservas de Hoteles básico utilizando el
        patrón <span>Modelo-Vista-Controlador (MVC)</span>. A través de este ejercicio, descubriremos cómo se puede gestionar la
        información de los hoteles, cómo se procesan las reservas y cómo se presenta la información al usuario, todo
        ello siguiendo el flujo cohesivo y estructurado que proporciona el MVC.
      </p>
    </div>
    <div class="row mt-5" *ngIf="show1">
      <div class="col-6">
        <h4 class="mb-3">Modelo (usando SQLAlchemy para ORM)</h4>
        <pre class="language-language-markup line-numbers">
          <code class="language-python">{{ code }}
          </code>
          <span [style]="line_style"  [style.top]="top_style" class="line-explain"> </span>
        </pre>
      </div>
      <div class="col-6 content-explain">
        <h5>Explicación</h5>
        <div>
          <p class="text-center">
            {{ explain_txt }}
          </p>
        </div>
        <h5>Variables</h5>
        <div>
          <p></p>
        </div>
        <div class="text-center" [ngClass]="{'no-display': start}">
          <a class="btn btn-success" (click)="onStart()">Empezar</a>
        </div>
        <div class="text-center"[ngClass]="{'no-display': !start && finish}">
          <a (click)="back()" class="btn btn-success"><</a>
          <a (click)="next()" class="btn btn-success ms-1">></a>
        </div>
        <div class="text-center mt-5" [ngClass]="{'no-display': finish}">
          <a (click)="showView(1)" class="btn btn-success">Ver vista 1</a>
        </div>
      </div>
    </div>
    <div class="row mt-5" *ngIf="show2">
      <div class="col-6">
        <h4 class="mb-3">Vista1 (hotel.html)</h4>
        <pre class="language-language-markup line-numbers">
          <code class="language-html">{{ code2 }}
          </code>
          <span [style]="line_style"  [style.top]="top_style" class="line-explain"> </span>
        </pre>
      </div>
      <div class="col-6 content-explain">
        <h5>Explicación</h5>
        <div>
          <p class="text-center">
            {{ explain_txt }}
          </p>
        </div>
        <h5>Variables</h5>
        <div>
          <p></p>
        </div>
        <div class="text-center" [ngClass]="{'no-display': start}">
          <a class="btn btn-success" (click)="onStart()">Empezar</a>
        </div>
        <div class="text-center"[ngClass]="{'no-display': !start && finish}">
          <a (click)="back()" class="btn btn-success"><</a>
          <a (click)="next()" class="btn btn-success ms-1">></a>
        </div>
        <div class="text-center mt-5" [ngClass]="{'no-display': finish}">
          <a (click)="showView(2)" class="btn btn-success">Ver vista 2</a>
        </div>
      </div>
    </div>
    <div class="row mt-5" *ngIf="show3">
      <div class="col-6">
        <h4 class="mb-3">Vista1 (reserva.html)</h4>
        <pre class="language-language-markup line-numbers">
          <code class="language-html">{{ code3 }}
          </code>
          <span [style]="line_style"  [style.top]="top_style" class="line-explain"> </span>
        </pre>
      </div>
      <div class="col-6 content-explain">
        <h5>Explicación</h5>
        <div>
          <p class="text-center">
            {{ explain_txt }}
          </p>
        </div>
        <h5>Variables</h5>
        <div>
          <p></p>
        </div>
        <div class="text-center" [ngClass]="{'no-display': start}">
          <a class="btn btn-success" (click)="onStart()">Empezar</a>
        </div>
        <div class="text-center"[ngClass]="{'no-display': !start && finish}">
          <a (click)="back()" class="btn btn-success"><</a>
          <a (click)="next()" class="btn btn-success ms-1">></a>
        </div>
        <div class="text-center mt-5" [ngClass]="{'no-display': finish}">
          <a (click)="showView(1)" class="btn btn-success">Ver controlador</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
