<app-header></app-header>
<!-- Banner -->
<div class="banner">
  <h1>Construyendo Tu Tienda Virtual: Una Experiencia Práctica con el Modelo MVC</h1>
</div>
<!-- Banner -->
<!-- Content -->
<div class="content">
  <div class="row mx-auto">
    <div class="col-12">
      <h3>¿De que trata el software?</h3>
      <hr>
      <p class="mt-4">
        El software educativo "Construyendo Tu Tienda Virtual: Una Experiencia Práctica con el Modelo MVC" es una
        herramienta
        interactiva diseñada para guiar a los usuarios en el proceso de comprensión y aplicación del patrón de diseño
        Modelo-Vista-Controlador (MVC). Dirigido tanto a principiantes como a desarrolladores con experiencia
        intermedia, este programa ofrece una combinación de lecciones teóricas y prácticas centradas en la creación de
        una tienda virtual. <br>
        A través de módulos estructurados, los estudiantes aprenderán los fundamentos de los sistemas de información,
        cómo diseñar y gestionar bases de datos y cómo implementar funcionalidades esenciales de una tienda virtual
        utilizando el patrón MVC. Además de la teoría, el software proporciona un entorno práctico donde los usuarios
        pueden escribir, probar y depurar su código, ofreciendo así una experiencia de aprendizaje completa.<br>
        Con un enfoque en la interactividad, el software presenta características como ejercicios de arrastrar y soltar,
        simulaciones en tiempo real y evaluaciones interactivas. Además, cuenta con un foro integrado para fomentar la
        discusión y colaboración entre estudiantes. Al concluir el curso, los participantes no sólo tendrán un profundo
        entendimiento del patrón MVC, sino que también poseerán una tienda virtual funcional que habrán desarrollado
        como proyecto final.
      </p>
    </div>
    <hr>
    <div class="col-6">
      <h3>¿Qué es MVC?</h3>
      <p>
        MVC (Modelo-Vista-Controlador) es un patrón de diseño ampliamente utilizado en el desarrollo de software,
        especialmente en aplicaciones web y móviles. Divide la aplicación en tres componentes principales, facilitando
        la organización, el mantenimiento y la escalabilidad del código.
        <br>
        <span>Modelo (Model): </span> Es el encargado de toda la lógica de negocios y la interacción con los datos.
        Representa y gestiona la información, las reglas, y las excepciones. Suele interactuar con la base de datos,
        recuperando, almacenando y actualizando la información. <br>
        <span>Vista (View):</span> Representa la interfaz de usuario. Se encarga de presentar los datos al usuario y
        mostrar cualquier cambio en los mismos. Es, básicamente, lo que el usuario experimenta visualmente en la
        pantalla. <br>
        <span>Controlador (Controller):</span> Actúa como un intermediario entre el Modelo y la Vista. Gestiona las
        entradas del usuario, procesando las peticiones, interactuando con el Modelo y devolviendo la salida visual al
        usuario a través de la Vista.
      </p>
    </div>
    <div class="col-6">
      <h3>Beneficios del Curso</h3>
      <p>
        <span>Comprensión Profunda del Patrón MVC:</span> Los estudiantes no solo aprenderán qué es MVC, sino que
        también entenderán
        cómo y por qué se utiliza, lo que les permitirá aplicarlo eficazmente en diversos contextos de desarrollo.
      </p>
      <p>
        <span>Desarrollo Práctico:</span> A través del enfoque práctico del curso, los estudiantes tendrán la
        oportunidad de
        construir una tienda virtual desde cero, consolidando así su aprendizaje y adquiriendo experiencia práctica.
      </p>
      <p>
        <span>Habilidades Transferibles:</span> Aprender el patrón MVC no solo es útil para el proyecto del curso, sino
        que es una
        habilidad valiosa en la industria del desarrollo de software, aplicable a muchos otros proyectos y tecnologías.
      </p>
      <p>
        <span>Adaptabilidad:</span> Al comprender a fondo el patrón MVC, los estudiantes estarán mejor equipados para
        adaptarse a
        diferentes frameworks y lenguajes de programación que adopten este patrón.
      </p>
    </div>
    <hr>
    <div class="col-12 mb-4">
      <h3>Requisitos Previos</h3>
      <p>
        Antes de embarcarte en este fascinante viaje hacia el mundo del diseño MVC y el desarrollo de sistemas de
        información, es vital que estés equipado con ciertas herramientas y conocimientos. Estos requisitos previos no
        solo te facilitarán la navegación a través del contenido, sino que también asegurarán que obtengas el máximo
        beneficio de cada lección y actividad.
      </p>
    </div>
    <div class="col-6">
      <h4>Conocimientos Básicos de Programación</h4>
      <p>
        Familiaridad con conceptos fundamentales de programación como variables, bucles, condicionales y funciones.
        Experiencia con algún lenguaje de programación, aunque sea a nivel principiante.
      </p>
    </div>
    <div class="col-6">
      <h4>Fundamentos de Bases de Datos</h4>
      <p>
        Entender qué es una base de datos y cómo se estructuran los datos en tablas.
        Conocer conceptos básicos como registros, campos, llaves primarias y relaciones.
      </p>
    </div>
    <div class="col-6">
      <h4>Herramientas de Desarrollo</h4>
      <p>
        Tener instalado o estar dispuesto a instalar las herramientas, frameworks o plataformas recomendadas por el
        software educativo.
        Familiaridad con entornos de desarrollo integrado (IDE) es una ventaja, aunque no esencial.
      </p>
    </div>
    <div class="col-6">
      <h4>Requisitos Técnicos</h4>
      <p>
        Una computadora o dispositivo móvil con las especificaciones técnicas necesarias para ejecutar el software.
        Acceso a Internet estable para descargar recursos, participar en foros y acceder a actualizaciones.
      </p>
    </div>
  </div>
  <hr>
  <div class="row mx-auto mt-5">
    <h3>Módulos</h3>
    <p>
      Bienvenido a la sección de módulos, el núcleo de tu experiencia de aprendizaje en nuestro software educativo. Cada
      módulo ha sido cuidadosamente diseñado como un paso individual en tu viaje para dominar el patrón de diseño
      Modelo-Vista-Controlador y construir tu propia tienda virtual.
    </p>
  </div>
  <!-- Modules -->
  <div class="row mx-auto my-5">
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/home/module1.png" alt="module1.png">
        <div class="card-body">
          <h5 class="card-title">1. Introducción al patrón de diseño MVC</h5>
          <p class="card-text">Bienvenido al primer módulo de nuestro viaje en "Construyendo Tu Tienda Virtual: Una
            Experiencia Práctica con el Modelo MVC". En esta etapa inicial, nos sumergiremos en el corazón del patrón
            Modelo-Vista-Controlador, un enfoque revolucionario que ha redefinido cómo desarrollamos aplicaciones
            efectivas y eficientes.</p>
          <a routerLink="/introduccionMVC/main" class="btn">Ir al módulo</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/ide/main.jfif" alt="main.jfif">
        <div class="card-body">
          <h5 class="card-title">2. Configurando el entorno de desarrollo</h5>
          <p class="card-text">Tras adentrarte en los fundamentos del patrón MVC, es hora de dar un paso esencial:
            preparar tu espacio de trabajo. En este segundo módulo, nos centraremos en configurar el entorno de
            desarrollo, asegurándonos de que dispongas de todas las herramientas y recursos necesarios para construir,
            probar y desplegar tu tienda virtual con eficiencia.</p>
          <a routerLink="/configuracionIDE/main" class="btn">Ir al módulo</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/bd/main.png" alt="main.png">
        <div class="card-body">
          <h5 class="card-title">3. Diseño de bases de datos para la tienda virtual</h5>
          <p class="card-text">Ahora que tu entorno de desarrollo está listo, nos sumergiremos en uno de los aspectos
            más cruciales de cualquier aplicación o sistema: la base de datos. En este tercer módulo, abordaremos el
            diseño y la estructura que soportará nuestra tienda virtual, garantizando que podamos almacenar, recuperar y
            gestionar datos de manera eficiente y efectiva.</p>
          <a routerLink="/configuracionIDE/main" class="btn">Ir al módulo</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 my-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/modelo/modelo.jpg" alt="main.png">
        <div class="card-body">
          <h5 class="card-title">4. Creando el Modelo en MVC</h5>
          <p class="card-text">Este módulo es una exploración profunda del Modelo, la pieza fundamental que se encarga
            de organizar y gestionar los datos de nuestra aplicación. Desde la manipulación de la información hasta la
            comunicación con la base de datos, aprenderemos cómo el Modelo desempeña un papel clave en la construcción
            de aplicaciones robustas y eficientes.</p>
          <a routerLink="/introduccionMVC/main" class="btn">Ir al módulo</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 my-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/vista/vista.png" alt="main.png">
        <div class="card-body">
          <h5 class="card-title">5. Desarrollo de la Vista en MVC</h5>
          <p class="card-text">Este módulo es una exploración profunda de la Vista, la cara visible de nuestra
            aplicación. Aprenderemos a diseñar y desarrollar interfaces de usuario que no solo sean atractivas, sino que
            también se integren sin problemas con la lógica de negocio del Modelo y las interacciones del Controlador.
          </p>
          <a routerLink="/introduccionMVC/main" class="btn">Ir al módulo</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 my-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/controlador/controlador.png" alt="main.png">
        <div class="card-body">
          <h5 class="card-title">6. Implementando el Controlador en MVC</h5>
          <p class="card-text">Este módulo es una inmersión profunda en el papel esencial del Controlador. Aprenderemos
            cómo diseñar y desarrollar controladores efectivos que respondan a las acciones del usuario, coordinando la
            comunicación entre la interfaz de usuario y la lógica de negocio subyacente.
          </p>
          <a routerLink="/introduccionMVC/main" class="btn">Ir al módulo</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 my-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/autenticacion/auth.jpg" alt="main.png">
        <div class="card-body">
          <h5 class="card-title">7. Autenticación y seguridad en la tienda virtual</h5>
          <p class="card-text">Este módulo es una exploración profunda de cómo asegurar la autenticación y proteger la
            información confidencial en el entorno de una tienda virtual. Abordaremos las mejores prácticas para
            implementar sistemas de autenticación sólidos y estrategias de seguridad efectivas.
          </p>
          <a routerLink="/introduccionMVC/main" class="btn">Ir al módulo</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 my-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/carrito/carrito.jpg" alt="main.png">
        <div class="card-body">
          <h5 class="card-title">8. Carrito de compras y gestión de pedidos</h5>
          <p class="card-text">Este módulo es una inmersión profunda en la creación de funcionalidades clave para
            cualquier plataforma de comercio electrónico. Aprenderemos cómo diseñar y desarrollar un Carrito de Compras
            que permita a los usuarios seleccionar y gestionar productos, así como la implementación de un sistema
            robusto de Gestión de Pedidos.
          </p>
          <a routerLink="/introduccionMVC/main" class="btn">Ir al módulo</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 my-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/pruebas/pruebas.jpg" alt="main.png">
        <div class="card-body">
          <h5 class="card-title">9. Pruebas y depuración</h5>
          <p class="card-text">Este módulo es una inmersión profunda en las estrategias y herramientas que te ayudarán a
            asegurar que tu aplicación MVC sea robusta, libre de errores y cumpla con los requisitos de calidad. Desde
            las pruebas unitarias hasta la depuración efectiva, aprenderás a mantener un código sólido y confiable.
          </p>
          <a routerLink="/introduccionMVC/main" class="btn">Ir al módulo</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 my-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/bd/main.png" alt="main.png">
        <div class="card-body">
          <h5 class="card-title">10. Despliegue y mantenimiento de la tienda virtual</h5>
          <p class="card-text">¡Felicitaciones por llegar al último módulo de "Construyendo Tu Tienda Virtual: Una
            Experiencia Práctica con el Modelo MVC"!. Este módulo es una inmersión profunda en las estrategias y mejores
            prácticas
            para llevar tu tienda virtual desde el entorno de desarrollo hasta la producción, y cómo asegurar su
            funcionamiento continuo a lo largo del tiempo.
          </p>
          <a routerLink="/introduccionMVC/main" class="btn">Ir al módulo</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
