<!-- <app-header></app-header> -->
<div class="content">
  <div class="row">
    <div class="col-6">
      <h2 class="mb-4">3.1 Introducción al Diseño de Bases de Datos</h2>
      <p class="mt-3 mb-3">
        En esta sección, nos adentraremos en los conceptos fundamentales del diseño de bases de datos y su relevancia en
        el desarrollo de aplicaciones, especialmente cuando se implementa el patrón Modelo-Vista-Controlador (MVC).
      </p>
      <h2 class="mb-4">3.1.1 Definición de Conceptos Clave</h2>

      <p>
        <span>tablas:</span> Las tablas son estructuras fundamentales en una base de datos relacional. Representan entidades
        específicas, como usuarios, productos o pedidos, y están organizadas en filas y columnas.
      </p>

      <p>
        <span>registros:</span> Cada fila en una tabla se conoce como un registro. Es una instancia individual de la entidad que la
        tabla representa. Por ejemplo, en una tabla de usuarios, cada fila podría representar a un usuario específico.
      </p>

      <p>
        <span>campos:</span> Las columnas de una tabla se llaman campos. Cada campo almacena un tipo específico de información, como
        el nombre de un producto, el precio o la descripción.
      </p>

      <p>
        <span>claves primarias:</span> Una clave primaria es un campo o conjunto de campos que identifica de manera única cada
        registro en una tabla. Garantiza que no haya duplicados y facilita la indexación y búsqueda eficiente.
      </p>

      <p>
        <span>claves foráneas:</span> Las claves foráneas establecen relaciones entre tablas. Se utilizan para vincular registros en
        una tabla con registros en otra. Por ejemplo, la clave foránea en una tabla de pedidos puede hacer referencia a
        la clave primaria de la tabla de usuarios.
      </p>

    </div>
  </div>
</div>
<app-footer></app-footer>
