nav{
  background-color: #4A90E2;
  border-bottom: 2px solid #F5F5F5;
  position: fixed;
  width: 100%;
  z-index: 1;


  .content{
    width: 80%;
    margin: auto;
  }

  img{
    width: 80px;
  }

  #title{
    text-align: left !important;
    width: 60%;
    color: white;
    margin: 0px 0px 0px 20px;
  }

  ul li a{
    text-align: left !important;
    color: white !important;
  }
}
