<app-header></app-header>
<div class="content">
  <div class="row">
    <div class="col-6">
      <h2 class="mb-4">2.1 Elección de un lenguaje y framework adecuado para MVC</h2>
      <p class="mt-3 mb-3">
        La elección del lenguaje de programación y el framework es un paso crucial en el desarrollo de sistemas de
        información basados en el patrón de diseño Modelo-Vista-Controlador (MVC). Algunos aspectos a considerar
        incluyen
      </p>
      <p>
        <span>Lenguaje de Programación</span>: <br>
        Debes seleccionar un lenguaje que sea adecuado para el desarrollo web y sea compatible con el patrón MVC.
        Algunos ejemplos populares incluyen: <br>
        <span>JavaScript/TypeScript:</span> Utilizado con frameworks como Angular, React o Vue.js. <br>
        <span>Python:</span> Utilizado con Django o Flask. <br>
        <span>PHP:</span> Utilizado con Laravel, Symfony o CodeIgniter. <br>
        <span>Java:</span> Utilizado con Spring Framework.
      </p>
      <p>
        <span>Framework MVC:</span> Cada lenguaje tiene su propio conjunto de frameworks MVC. La elección del framework
        dependerá de
        factores como la complejidad del proyecto, la comunidad de desarrolladores, la escalabilidad y las
        características requeridas.
      </p>
      <p>
        <span>Requisitos del Proyecto:</span> Debes considerar los requisitos específicos de tu proyecto, como la
        funcionalidad, la
        escalabilidad, la seguridad y la facilidad de mantenimiento. Esto te ayudará a determinar qué lenguaje y
        framework se ajustan mejor a tus necesidades.
      </p>
    </div>
    <div class="col-6 content-img">
      <img src="./assets/ide/image1.jpg" alt="image1.jpg">
      <img src="./assets/ide/image2.png" alt="image2.png">
    </div>
  </div>
  <hr>
  <div class="row mt-5">
    <h2 class="mb-4">2.2 ¿Que lenguaje de programación o framework vamos a manejar?</h2>
    <p>
      A la hora de desarrollar nuestra tienda virtual "Aprendiendo a desarrollar sistemas de información basados en
      MVC", hemos tomado decisiones cuidadosas sobre las tecnologías a utilizar. Si bien existen numerosos lenguajes y
      frameworks para el desarrollo web, hemos optado por Python con Flask como nuestro lenguaje principal y marco de
      trabajo. A continuación, te explicamos por qué hemos tomado esta decisión:
    </p>
    <ul>
      <li>
        <p>
          <span>Python y Flask: </span> Python es conocido por su legibilidad y simplicidad, lo que lo hace ideal para
          enseñar a los principiantes. Flask, un microframework de Python, proporciona las herramientas esenciales para
          desarrollar aplicaciones web de manera eficiente. Es fácil de aprender y permite una rápida implementación de
          proyectos, lo que lo hace perfecto para nuestro software educativo.
        </p>
      </li>
      <li>
        <p>
          <span>Jinja2:</span> Para la capa de presentación de nuestra tienda virtual, utilizaremos Jinja2, un motor de
          plantillas que se integra perfectamente con Flask. Jinja2 simplifica la creación de vistas dinámicas al
          permitir la inserción de datos dinámicos en las páginas web. Los estudiantes aprenderán a diseñar plantillas y
          a crear páginas web interactivas de una manera eficiente.
        </p>
      </li>
      <li>
        <p>
          <span>SQLAlchemy:</span> En cuanto a la gestión de bases de datos, hemos seleccionado SQLAlchemy, una
          biblioteca ORM (Mapeo Objeto-Relacional) que simplifica la interacción con bases de datos. Este enfoque
          facilita a los estudiantes el aprendizaje sobre cómo interactuar con bases de datos relacionales y les brinda
          una base sólida para futuros proyectos.
        </p>
      </li>
    </ul>
    <p>
      En resumen, hemos elegido Python con Flask, Jinja2 y SQLAlchemy como nuestro conjunto de tecnologías para
      garantizar que nuestros estudiantes tengan una experiencia de aprendizaje efectiva y sólida. Estas tecnologías
      ofrecen un equilibrio óptimo entre simplicidad y potencia, lo que les permitirá comprender y aplicar con éxito el
      patrón de diseño Modelo-Vista-Controlador (MVC) en el desarrollo de sistemas de información.
    </p>
  </div>
  <hr>
  <div class="row mt-5">
    <div class="col-6">
      <h2 class="mb-4">2.3 ¿Que entorno de desarrollo vamos a utilizar?</h2>
      <p>
        En el mundo del desarrollo de software, existe una amplia variedad de entornos de programación, cada uno con sus
        propias ventajas y características únicas. En nuestro curso "Aprendiendo a desarrollar sistemas de información
        basados en MVC," hemos seleccionado un entorno de programación específico que consideramos ideal para nuestros
        propósitos educativos: <span>Visual Studio Code.</span>
      </p>
      <h4>Un Entorno de Aprendizaje Efectivo</h4>
      <p>
        Creemos que VS Code proporciona un entorno de aprendizaje efectivo para nuestros estudiantes. Les permite
        concentrarse en la programación y en la comprensión de los conceptos, en lugar de perder tiempo en
        configuraciones complejas. <br>

        Aunque hemos elegido VS Code como nuestro entorno principal, reconocemos que los estudiantes pueden explorar
        otros entornos y herramientas a medida que avancen en sus carreras como desarrolladores de software. La
        flexibilidad y la capacidad de adaptación a diferentes entornos es una habilidad valiosa en el mundo del
        desarrollo de software, y al utilizar VS Code, los estudiantes adquieren una base sólida que les servirá en su
        futuro desarrollo profesional.
      </p>
    </div>
    <div class="col-6">
      <h4 class="mb-4">Diversidad de Entornos:</h4>
      <p>
        El mundo de la programación es diverso, y los desarrolladores tienen la libertad de elegir entre una variedad de
        entornos de programación, desde IDEs (Entornos de Desarrollo Integrado) hasta editores de texto simples. Cada
        entorno tiene sus ventajas, y la elección depende en gran medida de las preferencias personales y las
        necesidades
        del proyecto.
      </p>
      <h4>¿Por qué Visual Studio Code?</h4>
      <p>
        Hemos optado por utilizar Visual Studio Code (VS Code) en nuestro curso por varias razones clave:
      </p>
      <ul>
        <li>
          <p>
            <span>Gratuito y de Código Abierto:</span> VS Code es un editor de código abierto y gratuito, lo que lo hace
            accesible para todos los estudiantes sin costos adicionales.
          </p>
        </li>
        <li>
          <p>
            <span>Amplias Extensiones:</span> VS Code es altamente personalizable a través de extensiones, lo que
            permite a los estudiantes adaptar su entorno de desarrollo a sus necesidades específicas.
          </p>
        </li>
        <li>
          <p>
            <span>Facilidad de Uso:</span> VS Code es conocido por su interfaz de usuario intuitiva y su curva de
            aprendizaje suave.
            Es fácil de configurar y comenzar a usar, lo que es ideal para principiantes.
          </p>
        </li>
        <li>
          <p>
            <span>Compatibilidad Multiplataforma:</span> VS Code es compatible con Windows, macOS y Linux, lo que
            permite a los
            estudiantes trabajar en sus sistemas operativos preferidos.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row mt-5">
    <div class="col-12">
      <h2 class="mb-4">2.4 Instalación del Entorno de Desarrollo</h2>
      <p>
        Visual Studio Code (VS Code) es un entorno de desarrollo de código abierto y altamente personalizable que se ha
        convertido en una herramienta esencial para desarrolladores de software en todo el mundo. Su facilidad de uso,
        flexibilidad y una amplia gama de extensiones lo convierten en una elección popular tanto para principiantes
        como para desarrolladores experimentados. A continuación, te guiaremos a través de los pasos para instalar VS
        Code en tu sistema.
      </p>
      <h4>Pasos para la Instalación</h4>
      <ul>
        <li>
          <p>
            <span>Descargar el Instalador</span> Visita el sitio web oficial de Visual Studio Code en
            https://code.visualstudio.com/. Aquí encontrarás el enlace de descarga correspondiente a tu sistema
            operativo (Windows, macOS o Linux). Haz clic en el enlace para comenzar la descarga.
          </p>
        </li>
        <li>
          <p>
            <span>Instalar en Windows:</span> <br>
            Una vez que se complete la descarga, haz doble clic en el archivo de instalación. <br>
            Se abrirá el asistente de instalación. Sigue las instrucciones en pantalla y acepta los términos de la
            licencia si estás de acuerdo. <br>
            Puedes elegir opciones de instalación adicionales, como agregar VS Code al menú contextual del Explorador de
            Windows. <br>
            Haz clic en "Instalar" para comenzar la instalación. Una vez que se complete, podrás iniciar Visual Studio
            Code. <br>
          </p>
        </li>
        <li>
          <p>
            <span>instalar en macOS</span> <br>
            Abre el archivo descargado, que generalmente se encuentra en la carpeta "Descargas". <br>
            Arrastra y suelta la aplicación de VS Code en la carpeta "Aplicaciones" para instalarla. <br>
            Una vez que se complete la instalación, podrás encontrar VS Code en tu carpeta de Aplicaciones. Haz clic en
            el icono para iniciarlo.
          </p>
        </li>
        <li>
          <p>
            <span>Instalar en Linux</span> <br>
            La instalación en Linux puede variar según la distribución. Puedes encontrar instrucciones detalladas en la
            documentación oficial de VS Code para tu distribución específica.
          </p>
        </li>
      </ul>
    </div>
    <div class="col-12">
      <h4>Comenzar con Visual Studio Code</h4>
      <p>
        Una vez que hayas instalado VS Code, estarás listo para comenzar a escribir y depurar código. Algunas
        características notables de VS Code incluyen:
      </p>
      <ul>
        <li>
          <p>
            <span>Interfaz de usuario intuitiva:</span> La interfaz de usuario limpia y organizada de VS Code te permite
            enfocarte en tu trabajo sin distracciones.
          </p>
        </li>
        <li>
          <p>
            <span>Extensiones personalizadas:</span> Puedes personalizar VS Code instalando extensiones para lenguajes
            de
            programación, depuración, control de versiones y más.
          </p>
        </li>
        <li>
          <p>
            <span>Depuración integrada:</span> VS Code ofrece herramientas de depuración que te permiten identificar y
            solucionar errores en tu código de manera eficiente.
          </p>
        </li>
        <li>
          <p>
            <span>Integración con Git:</span> Puedes gestionar tus repositorios de Git directamente desde VS Code.
          </p>
        </li>
      </ul>
      <p>
        Visual Studio Code te proporciona un entorno de desarrollo eficaz y versátil que te ayudará a desarrollar tus
        habilidades de programación y afrontar proyectos de desarrollo de software con confianza.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h2 class="mb-4">2.5 Introducción a Python para Desarrollo Web</h2>
      <p>
        A pesar de que este curso asume ciertos conocimientos previos en programación, comprendemos que no todos los
        estudiantes pueden tener experiencia en Python. Por lo tanto, proporcionaremos una breve introducción a Python
        con un enfoque en los conceptos necesarios para comprender cómo trabajaremos con Flask, Jinja2 y SQLAlchemy en
        este entorno de desarrollo web.
      </p>
    </div>
    <div class="col-6">
      <h4>Python: Un Lenguaje Versátil</h4>
      <p>
        Python es un lenguaje de programación versátil y ampliamente utilizado que es conocido por su sintaxis clara y
        legible. Aunque este curso no se enfoca en enseñar Python desde cero, aquí tienes un resumen de los conceptos
        esenciales que necesitas conocer
      </p>
      <h4>Variables y Tipos de Datos</h4>
      <ul>
        <li>En Python, puedes declarar variables y asignarles valores.</li>
        <li>Python admite varios tipos de datos, como números (enteros y flotantes), cadenas de texto y listas.</li>
      </ul>
      <h4>Estructuras de Control</h4>
      <ul>
        <li>
          Las estructuras de control, como bucles <span>(for y while)</span> y condicionales <span>(if)</span>, te
          permiten controlar el flujo de un programa.
        </li>
      </ul>
      <h4>Funciones</h4>
      <ul>
        <li>
          Las funciones son bloques de código reutilizables que pueden recibir argumentos y devolver resultados.
        </li>
        <li>
          En Python, puedes definir funciones utilizando la palabra clave <span>def</span>.
        </li>
      </ul>
      <h4>Librerías y Módulos</h4>
      <ul>
        <li>Python ofrece una amplia variedad de librerías y módulos que amplían su funcionalidad. En este curso, nos
          enfocaremos en Flask para el desarrollo web.</li>
      </ul>
    </div>
    <div class="col-6">
      <h4>Breve Introducción a Flask, Jinja2 y SQLAlchemy</h4>
      <ul>
        <li>Flask es un microframework de Python para el desarrollo web. Aprenderemos a crear aplicaciones web
          utilizando Flask y comprenderemos cómo manejar rutas y vistas.</li>
        <li>Jinja2 es un motor de plantillas que permite la creación de páginas web dinámicas. Aprenderemos a usar
          Jinja2 para integrar datos en nuestras vistas.</li>
        <li>SQLAlchemy es una biblioteca ORM que facilita la interacción con bases de datos. Aprenderemos a utilizar
          SQLAlchemy para gestionar datos de la base de datos en nuestras aplicaciones web.</li>
      </ul>
      <p>Esta breve introducción a Python tiene como objetivo proporcionar a todos los estudiantes una base sólida para
        comprender los conceptos clave en el desarrollo web con Flask, Jinja2 y SQLAlchemy. A medida que avanzamos en el
        curso, exploraremos estos conceptos en profundidad, lo que te permitirá desarrollar aplicaciones web de manera
        efectiva.</p>
      <div class="text-center">
        <img class="w-75" src="./assets/ide/image2.jpg" alt="image2.jpg">
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h2 class="mb-4">2.6 Ejemplos de python</h2>
      <p>
        A continuación, presentaremos algunos ejemplos prácticos que te ayudarán a consolidar los conceptos recién
        aprendidos y a aplicarlos en situaciones concretas. Estos ejemplos han sido diseñados para ofrecerte una
        experiencia práctica que complemente la teoría, permitiéndote ver cómo se materializan los conocimientos en la
        práctica.
        <br>
        Cada ejemplo se centra en aspectos específicos, desde la aplicación de estructuras de control hasta el manejo de
        funciones y la interacción con el usuario. A medida que explores estos ejemplos, te alentamos a analizar y
        comprender cada línea de código, experimentar con variaciones y, lo más importante, a ganar confianza en tu
        capacidad para escribir código Python de manera efectiva.
      </p>
    </div>
    <div class="col-12 mt-3">
      <h4>Ejemplo 1: Calculadora Simple en Python</h4>
      <p>
        <span>Objetivo:</span> Crear una calculadora simple que pueda realizar operaciones básicas como suma, resta,
        multiplicación y
        división.
      </p>
      <pre class="language-language-markup line-numbers">
        <code class="language-python">{{ code1 }}
        </code>
      </pre>
      <p>
        Este código implementa una calculadora simple que realiza operaciones básicas de suma, resta, multiplicación y
        división. El usuario ingresa la operación deseada y dos números. Luego, el programa realiza la operación
        seleccionada y muestra el resultado.

        El código utiliza funciones separadas para cada operación matemática (suma, resta, multiplicación, división)
        para organizar el código de manera modular y mejorar la legibilidad. Además, se maneja la división por cero
        mediante una condición que verifica si el divisor es diferente de cero.

        El programa solicita al usuario que ingrese la operación y los números a través de la entrada de datos. Luego,
        utiliza una estructura condicional (if-elif-else) para determinar la operación a realizar y llama a la función
        correspondiente. Finalmente, imprime el resultado de la operación.

        Este ejemplo es útil para comprender cómo estructurar funciones en Python, manejar entrada de usuario y aplicar
        estructuras de control condicional para realizar diferentes operaciones matemáticas.
      </p>
    </div>
    <hr>
    <div class="col-12">
      <h4>Ejemplo 2: Conversor de Temperatura en Python</h4>
      <p>
        <span>Objetivo:</span> Crear un programa que convierta una temperatura de grados Celsius a Fahrenheit.
      </p>
      <pre class="language-language-markup line-numbers">
        <code class="language-python">{{ code2 }}
        </code>
      </pre>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h2 class="mb-4">2.7 Ejemplos de flask</h2>
      <p>
        A continuación, presentaremos ejemplos prácticos de Flask, uno de los frameworks web más populares en el
        ecosistema de Python. Estos ejemplos están diseñados para introducirte en el desarrollo de aplicaciones web de
        manera gradual, mostrándote cómo estructurar y construir aplicaciones web simples pero efectivas utilizando
        Flask.
        <br>
        Cada ejemplo se centrará en un aspecto clave del desarrollo web con Flask, desde la creación de rutas hasta la
        manipulación de parámetros en las URL. A medida que explores estos ejemplos, te familiarizarás con la sintaxis y
        las prácticas comunes de Flask, sentando las bases para construir aplicaciones web más complejas en el futuro.
        <br>
        Recuerda que Flask es conocido por su simplicidad y flexibilidad, lo que lo convierte en una excelente opción
        para aquellos que están dando sus primeros pasos en el desarrollo web con Python. ¡Sumérgete en estos ejemplos y
        descubre cómo Flask puede facilitar el desarrollo de tus propias aplicaciones web!
      </p>
    </div>
    <div class="col-12 mt-3">
      <h4>Ejemplo 1: Crear una Página Web con Flask</h4>
      <p>
        <span>Objetivo:</span> Desarrollar una aplicación web simple utilizando Flask. La aplicación mostrará un mensaje
        de bienvenida en la página principal.
      </p>
      <pre class="language-language-markup line-numbers">
        <code class="language-python">{{ code3 }}
        </code>
      </pre>
      <h5 class="mt-5">Explicación</h5>
      <ul>
        <li>Se importa la clase Flask de la biblioteca Flask.</li>
        <li>Se crea una instancia de la aplicación Flask llamada app.</li>
        <li>Se define una ruta para la página principal ("/") utilizando el decorador @app.route('/').</li>
        <li>La función index se ejecutará cuando un usuario acceda a la ruta principal. En este caso, devuelve un
          mensaje de bienvenida.</li>
        <li>La aplicación se inicia con app.run(debug=True). La opción debug=True activa el modo de depuración, lo que
          facilita la identificación y corrección de errores durante el desarrollo.</li>
      </ul>
      <hr>
      <h4>Ejemplo 2: Página Dinámica con Parámetros</h4>
      <p>
        <span>Objetivo:</span> Mejorar la aplicación para que la página de bienvenida incluya el nombre proporcionado
        por el usuario como parámetro en la URL.
      </p>
      <pre class="language-language-markup line-numbers">
        <code class="language-python">{{ code4 }}
        </code>
      </pre>
      <h5 class="mt-5">Explicación</h5>
      <ul>
        <li>Se importa la clase Flask de la biblioteca Flask.</li>
        <li>Se crea una instancia de la aplicación Flask llamada app.</li>
        <li>Se define una ruta para la página principal ("/") utilizando el decorador @app.route('/').</li>
        <li>La función index se ejecutará cuando un usuario acceda a la ruta principal. En este caso, devuelve un
          mensaje de bienvenida.</li>
        <li>La aplicación se inicia con app.run(debug=True). La opción debug=True activa el modo de depuración, lo que
          facilita la identificación y corrección de errores durante el desarrollo.</li>
      </ul>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h2>2.8 Ejemplo de Uso de Jinja2 con Flask en Python</h2>
      <p>
        En este ejemplo, estamos creando una aplicación web simple utilizando Flask, un framework web para Python, junto
        con Jinja2, un motor de plantillas. La aplicación representa una tienda online con productos, y usaremos Jinja2
        para renderizar dinámicamente HTML con datos provenientes de nuestro controlador Flask.
      </p>
    </div>
    <div class="col-12">
      <h4>Paso 1: Creación de una Ruta en Flask</h4>
      <p>
        En esta sección, definimos una ruta básica en Flask que responde a la URL raíz ("/"). Cuando un usuario visita
        esta ruta, la función index() se ejecuta y renderiza una plantilla utilizando Jinja2. Esta plantilla mostrará el
        nombre de la tienda y algunos productos.
      </p>
      <pre class="language-language-markup line-numbers">
        <code class="language-python">{{ code5 }}
        </code>
      </pre>
    </div>
    <div class="col-12">
      <h4>Paso 2: Plantilla Jinja2 (templates/index.html)</h4>
      <p>
        En el archivo HTML de la plantilla, estamos utilizando la sintaxis de Jinja2 para insertar dinámicamente datos
        en el HTML. El nombre de la tienda y la lista de productos se pasan desde el controlador Flask y se muestran en
        la página web generada.
      </p>
      <pre class="language-language-markup line-numbers">
        <code class="language-python">{{ code6 }}
        </code>
      </pre>
    </div>
    <div class="col-12">
      <h4>Paso 3: Controlador (puede estar en otro archivo)</h4>
      <p>
        En este bloque de código, se encuentra el controlador Flask que maneja la lógica de la aplicación. Se define una
        función index() que proporciona datos (como el nombre de la tienda y la lista de productos) y renderiza la
        plantilla Jinja2 con estos datos. Los datos pueden provenir de la base de datos u otras fuentes.
      </p>
      <pre class="language-language-markup line-numbers">
        <code class="language-python">{{ code7 }}
        </code>
      </pre>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6">
      <h3>1.6 Ejemplos</h3>
      <p class="mt-3">
        Dentro del fascinante mundo del desarrollo de software, la sección de "Ejemplos" es una ventana que nos permite
        observar directamente la aplicación de conceptos teóricos en situaciones prácticas. En este módulo, nos
        sumergiremos en ejemplos concretos de Python y Flask, dos herramientas poderosas en el desarrollo web.

        En el contexto del patrón Modelo-Vista-Controlador (MVC), exploraremos la implementación práctica de estos
        conceptos. A través de la ejecución de código real, visualizaremos la interacción armoniosa entre el Modelo, la
        Vista y el Controlador, desentrañando la coreografía que define la estructura de nuestras aplicaciones. <br>

        Los ejemplos presentados a continuación servirán como guía para comprender cómo el MVC cobra vida en proyectos
        reales. Veremos cómo las distintas partes del patrón colaboran para crear aplicaciones funcionales y cómo la
        teoría se traduce de manera efectiva en la realidad del desarrollo. <br>

        ¡Acompáñanos en este recorrido práctico y descubre cómo Python y Flask pueden ser aliados poderosos en la
        creación de aplicaciones web robustas y estructuradas bajo el paradigma MVC!
      </p>
    </div>
    <div class="col-6">
      <ul class="example_list">
        <li>
          <a routerLink="/introduccionMVC/ejemplo1">
            Ejemplo 1: Sistema de Reservas de Hoteles
          </a>
        </li>
        <li>
          <a href="#">
            Ejemplo 2: Sistema de Gestión de Biblioteca
          </a>
        </li>
        <li>
          <a href="#">
            Ejemplo 3: Aplicación de Reproductor de Música
          </a>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <ul class="example_list">
        <li>
          <a routerLink="/introduccionMVC/ejercicio1">Ejercicio 1: Sistema de Gestión de Tareas</a>
        </li>
        <li>
          <a href="#">Ejercicio 2: Nombre del ejercicio</a>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <h3>1.7 Ejercicios</h3>
      <p class="mt-3">
        Después de navegar por las aguas teóricas del patrón Modelo-Vista-Controlador, es el momento de zarpar hacia la
        práctica. Los conceptos, por muy claros que sean en la teoría, encuentran su verdadero valor cuando los ponemos
        a prueba. Esta sección de "Ejercicios" ha sido diseñada específicamente para ofrecerte ese reto.

        Aquí, te encontrarás con una serie de desafíos prácticos que te animarán a aplicar lo que has aprendido sobre el
        MVC. Desde la creación de pequeños fragmentos de código hasta la construcción de componentes sencillos, estos
        ejercicios te empujarán a pensar, diseñar y desarrollar utilizando el patrón MVC.

        Más allá de solo escribir código, se te invitará a tomar decisiones, a enfrentar problemas comunes y a idear
        soluciones que reflejen una comprensión sólida del MVC.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
