<app-header></app-header>
<div class="content">
  <div class="row">
    <div class="col-6">
      <h2 class="mb-4">2.1 Elección de un lenguaje y framework adecuado para MVC</h2>
      <p class="mt-3 mb-3">
        La elección del lenguaje de programación y el framework es un paso crucial en el desarrollo de sistemas de
        información basados en el patrón de diseño Modelo-Vista-Controlador (MVC). Algunos aspectos a considerar
        incluyen
      </p>
      <p>
        <span>Lenguaje de Programación</span>: <br>
        Debes seleccionar un lenguaje que sea adecuado para el desarrollo web y sea compatible con el patrón MVC.
        Algunos ejemplos populares incluyen: <br>
        <span>JavaScript/TypeScript:</span> Utilizado con frameworks como Angular, React o Vue.js. <br>
        <span>Python:</span> Utilizado con Django o Flask. <br>
        <span>PHP:</span> Utilizado con Laravel, Symfony o CodeIgniter. <br>
        <span>Java:</span> Utilizado con Spring Framework.
      </p>
      <p>
        <span>Framework MVC:</span> Cada lenguaje tiene su propio conjunto de frameworks MVC. La elección del framework
        dependerá de
        factores como la complejidad del proyecto, la comunidad de desarrolladores, la escalabilidad y las
        características requeridas.
      </p>
      <p>
        <span>Requisitos del Proyecto:</span> Debes considerar los requisitos específicos de tu proyecto, como la
        funcionalidad, la
        escalabilidad, la seguridad y la facilidad de mantenimiento. Esto te ayudará a determinar qué lenguaje y
        framework se ajustan mejor a tus necesidades.
      </p>
    </div>
    <div class="col-6 content-img">
      <img src="./assets/ide/image1.jpg" alt="image1.jpg">
      <img src="./assets/ide/image2.png" alt="image2.png">
    </div>
  </div>
  <hr>
  <div class="row mt-5">
    <h2 class="mb-4">2.2 ¿Que lenguaje de programación o framework vamos a manejar?</h2>
    <p>
      A la hora de desarrollar nuestra tienda virtual "Aprendiendo a desarrollar sistemas de información basados en
      MVC", hemos tomado decisiones cuidadosas sobre las tecnologías a utilizar. Si bien existen numerosos lenguajes y
      frameworks para el desarrollo web, hemos optado por Python con Flask como nuestro lenguaje principal y marco de
      trabajo. A continuación, te explicamos por qué hemos tomado esta decisión:
    </p>
    <ul>
      <li>
        <p>
          <span>Python y Flask: </span> Python es conocido por su legibilidad y simplicidad, lo que lo hace ideal para
          enseñar a los principiantes. Flask, un microframework de Python, proporciona las herramientas esenciales para
          desarrollar aplicaciones web de manera eficiente. Es fácil de aprender y permite una rápida implementación de
          proyectos, lo que lo hace perfecto para nuestro software educativo.
        </p>
      </li>
      <li>
        <p>
          <span>Jinja2:</span> Para la capa de presentación de nuestra tienda virtual, utilizaremos Jinja2, un motor de
          plantillas que se integra perfectamente con Flask. Jinja2 simplifica la creación de vistas dinámicas al
          permitir la inserción de datos dinámicos en las páginas web. Los estudiantes aprenderán a diseñar plantillas y
          a crear páginas web interactivas de una manera eficiente.
        </p>
      </li>
      <li>
        <p>
          <span>SQLAlchemy:</span> En cuanto a la gestión de bases de datos, hemos seleccionado SQLAlchemy, una
          biblioteca ORM (Mapeo Objeto-Relacional) que simplifica la interacción con bases de datos. Este enfoque
          facilita a los estudiantes el aprendizaje sobre cómo interactuar con bases de datos relacionales y les brinda
          una base sólida para futuros proyectos.
        </p>
      </li>
    </ul>
    <p>
      En resumen, hemos elegido Python con Flask, Jinja2 y SQLAlchemy como nuestro conjunto de tecnologías para
      garantizar que nuestros estudiantes tengan una experiencia de aprendizaje efectiva y sólida. Estas tecnologías
      ofrecen un equilibrio óptimo entre simplicidad y potencia, lo que les permitirá comprender y aplicar con éxito el
      patrón de diseño Modelo-Vista-Controlador (MVC) en el desarrollo de sistemas de información.
    </p>
  </div>
  <hr>
  <div class="row mt-5">
    <div class="col-6">
      <h2 class="mb-4">2.3 ¿Que entorno de desarrollo vamos a utilizar?</h2>
      <p>
        En el mundo del desarrollo de software, existe una amplia variedad de entornos de programación, cada uno con sus
        propias ventajas y características únicas. En nuestro curso "Aprendiendo a desarrollar sistemas de información
        basados en MVC," hemos seleccionado un entorno de programación específico que consideramos ideal para nuestros
        propósitos educativos: <span>Visual Studio Code.</span>
      </p>
      <h4>Un Entorno de Aprendizaje Efectivo</h4>
      <p>
        Creemos que VS Code proporciona un entorno de aprendizaje efectivo para nuestros estudiantes. Les permite
        concentrarse en la programación y en la comprensión de los conceptos, en lugar de perder tiempo en
        configuraciones complejas. <br>

        Aunque hemos elegido VS Code como nuestro entorno principal, reconocemos que los estudiantes pueden explorar
        otros entornos y herramientas a medida que avancen en sus carreras como desarrolladores de software. La
        flexibilidad y la capacidad de adaptación a diferentes entornos es una habilidad valiosa en el mundo del
        desarrollo de software, y al utilizar VS Code, los estudiantes adquieren una base sólida que les servirá en su
        futuro desarrollo profesional.
      </p>
    </div>
    <div class="col-6">
      <h4 class="mb-4">Diversidad de Entornos:</h4>
      <p>
        El mundo de la programación es diverso, y los desarrolladores tienen la libertad de elegir entre una variedad de
        entornos de programación, desde IDEs (Entornos de Desarrollo Integrado) hasta editores de texto simples. Cada
        entorno tiene sus ventajas, y la elección depende en gran medida de las preferencias personales y las
        necesidades
        del proyecto.
      </p>
      <h4>¿Por qué Visual Studio Code?</h4>
      <p>
        Hemos optado por utilizar Visual Studio Code (VS Code) en nuestro curso por varias razones clave:
      </p>
      <ul>
        <li>
          <p>
            <span>Gratuito y de Código Abierto:</span> VS Code es un editor de código abierto y gratuito, lo que lo hace
            accesible para todos los estudiantes sin costos adicionales.
          </p>
        </li>
        <li>
          <p>
            <span>Amplias Extensiones:</span> VS Code es altamente personalizable a través de extensiones, lo que
            permite a los estudiantes adaptar su entorno de desarrollo a sus necesidades específicas.
          </p>
        </li>
        <li>
          <p>
            <span>Facilidad de Uso:</span> VS Code es conocido por su interfaz de usuario intuitiva y su curva de
            aprendizaje suave.
            Es fácil de configurar y comenzar a usar, lo que es ideal para principiantes.
          </p>
        </li>
        <li>
          <p>
            <span>Compatibilidad Multiplataforma:</span> VS Code es compatible con Windows, macOS y Linux, lo que
            permite a los
            estudiantes trabajar en sus sistemas operativos preferidos.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row mt-5">
    <div class="col-12">
      <h2 class="mb-4">2.4 Instalación del Entorno de Desarrollo</h2>
      <p>
        Visual Studio Code (VS Code) es un entorno de desarrollo de código abierto y altamente personalizable que se ha
        convertido en una herramienta esencial para desarrolladores de software en todo el mundo. Su facilidad de uso,
        flexibilidad y una amplia gama de extensiones lo convierten en una elección popular tanto para principiantes
        como para desarrolladores experimentados. A continuación, te guiaremos a través de los pasos para instalar VS
        Code en tu sistema.
      </p>
      <h4>Pasos para la Instalación</h4>
      <ul>
        <li>
          <p>
            <span>Descargar el Instalador</span> Visita el sitio web oficial de Visual Studio Code en
            https://code.visualstudio.com/. Aquí encontrarás el enlace de descarga correspondiente a tu sistema
            operativo (Windows, macOS o Linux). Haz clic en el enlace para comenzar la descarga.
          </p>
        </li>
        <li>
          <p>
            <span>Instalar en Windows:</span> <br>
            Una vez que se complete la descarga, haz doble clic en el archivo de instalación. <br>
            Se abrirá el asistente de instalación. Sigue las instrucciones en pantalla y acepta los términos de la
            licencia si estás de acuerdo. <br>
            Puedes elegir opciones de instalación adicionales, como agregar VS Code al menú contextual del Explorador de
            Windows. <br>
            Haz clic en "Instalar" para comenzar la instalación. Una vez que se complete, podrás iniciar Visual Studio
            Code. <br>
          </p>
        </li>
        <li>
          <p>
            <span>instalar en macOS</span> <br>
            Abre el archivo descargado, que generalmente se encuentra en la carpeta "Descargas". <br>
            Arrastra y suelta la aplicación de VS Code en la carpeta "Aplicaciones" para instalarla. <br>
            Una vez que se complete la instalación, podrás encontrar VS Code en tu carpeta de Aplicaciones. Haz clic en
            el icono para iniciarlo.
          </p>
        </li>
        <li>
          <p>
            <span>Instalar en Linux</span> <br>
            La instalación en Linux puede variar según la distribución. Puedes encontrar instrucciones detalladas en la
            documentación oficial de VS Code para tu distribución específica.
          </p>
        </li>
      </ul>
    </div>
    <div class="col-12">
      <h4>Comenzar con Visual Studio Code</h4>
      <p>
        Una vez que hayas instalado VS Code, estarás listo para comenzar a escribir y depurar código. Algunas
        características notables de VS Code incluyen:
      </p>
      <ul>
        <li>
          <p>
            <span>Interfaz de usuario intuitiva:</span> La interfaz de usuario limpia y organizada de VS Code te permite
            enfocarte en tu trabajo sin distracciones.
          </p>
        </li>
        <li>
          <p>
            <span>Extensiones personalizadas:</span> Puedes personalizar VS Code instalando extensiones para lenguajes
            de
            programación, depuración, control de versiones y más.
          </p>
        </li>
        <li>
          <p>
            <span>Depuración integrada:</span> VS Code ofrece herramientas de depuración que te permiten identificar y
            solucionar errores en tu código de manera eficiente.
          </p>
        </li>
        <li>
          <p>
            <span>Integración con Git:</span> Puedes gestionar tus repositorios de Git directamente desde VS Code.
          </p>
        </li>
      </ul>
      <p>
        Visual Studio Code te proporciona un entorno de desarrollo eficaz y versátil que te ayudará a desarrollar tus
        habilidades de programación y afrontar proyectos de desarrollo de software con confianza.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h2 class="mb-4">2.5 Introducción a Python para Desarrollo Web</h2>
      <p>
        A pesar de que este curso asume ciertos conocimientos previos en programación, comprendemos que no todos los
        estudiantes pueden tener experiencia en Python. Por lo tanto, proporcionaremos una breve introducción a Python
        con un enfoque en los conceptos necesarios para comprender cómo trabajaremos con Flask, Jinja2 y SQLAlchemy en
        este entorno de desarrollo web.
      </p>
      <h4>Python: Un Lenguaje Versátil</h4>
      <p>
        Python es un lenguaje de programación versátil y ampliamente utilizado que es conocido por su sintaxis clara y
        legible. Aunque este curso no se enfoca en enseñar Python desde cero, aquí tienes un resumen de los conceptos
        esenciales que necesitas conocer
      </p>
    </div>
    <div class="col-12">
      <h4>Variables y Tipos de Datos</h4>
      <ul>
        <li>En Python, puedes declarar variables y asignarles valores.</li>
        <li>Python admite varios tipos de datos, como números (enteros y flotantes), cadenas de texto y listas.</li>
      </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>
