@import '../../../../styles/variables.scss';

nav{
  background-color: $primary-color;
  border-bottom: 2px solid $five-color;
  position: fixed;
  width: 100%;
  z-index: 1;


  .content{
    width: 80%;
    margin: auto;
  }

  img{
    width: 80px;
  }

  #title{
    text-align: left !important;
    width: 60%;
    color: $five-color;
    margin: 0px 0px 0px 20px;
  }

  ul li a{
    text-align: left !important;
    color: $five-color !important;
  }
}
